{% extends "_layout.twig" %}
{% from 'components/wikilinks.twig' import wikilinks %}

{% set title = "Edit article" %}
{% set noindex = true %}

	{% block content %}
<h1>Edit article</h1>

<form action="/wiki/edit.php?page={{ pagetitle_slugified }}" method="POST">
	<p><strong>{{ pagetitle }}</strong></p>
	<p><textarea name="text" placeholder="Page content" cols="100" rows="20" {% if not log %}disabled{% endif %}>{{ page.content }}</textarea></p>

	{% if log %}
		<p><em>Markdown formatting syntax is allowed.</em></p>

		<p><input type="text" name="description" placeholder="Description (Describe what has been changed)" size="60" {% if not log %}disabled{% endif %}></p>
		<p>
			<input type="submit" name="action" value="Save changes"></input>
			<input type="submit" name="action" value="Preview"></input>
		</p>
	{% else %}
		<p>Please <a href="/login">log in</a> to make edits to the wiki.</p>
	{% endif %}
</form>

{% if action == 'Preview' %}
	<hr>

	<h1>Preview: {{ pagetitle }}</h1>
	{{ page.content | markdown_wiki }}
{% endif %}

{{ wikilinks(pagetitle_slugified, "edit") }}
	{% endblock %}