{% extends "_layout.twig" %}
{% from 'components/wikilinks.twig' import wikilinks %}

{% set title = pagetitle %}

	{% block content %}
<h1>{{ pagetitle }}</h1>

{% if page.content %}
	{% if revision %}
		<p><em>This is an old revision from {{ revdata.time | date('Y-m-d H:m') }} by {{ userlink(revdata, 'u_') }}</em></p>
	{% else %}
		<p><small>From the principia-web wiki, the free Principia wiki.</small></p>
	{% endif %}

	{{ page.content | markdown_wiki }}
	{#{{ source('flatfile_db/' ~ pagetitle_slugified) | markdown_unsafe }}#}
{% else %}
	<p>This page does not exist. Would you like to create it?</p>
{% endif %}

{{ wikilinks(pagetitle_slugified, "read") }}
	{% endblock %}