{% extends "_layout.twig" %}
{% from 'components/wikilinks.twig' import wikilinks %}

{% set title = "Revision history of \"" ~ pagetitle ~ "\"" %}

{% set latest_rev = -1 %}

	{% block content %}
<h1>{{ title }}</h1>

<ul>
{% for rev in revisions %}
<li>
	({% if latest_rev == -1 %}cur {% else %}<a href="/wiki/diff.php?page={{ pagetitle_slugified }}&prev={{ rev.revision }}&next={{ latest_rev }}">cur</a>{% endif %}
	| {% if rev.revision == 1 %}prev{% else %}<a href="/wiki/diff.php?page={{ pagetitle_slugified }}&prev={{ rev.revision - 1 }}&next={{ rev.revision }}">prev</a>{% endif %})
	&nbsp;<a href="/wiki/{{ pagetitle_slugified }}?rev={{ rev.revision }}">{{ rev.time | date('H:m, Y-m-d') }}</a>
	&nbsp;{{ userlink(rev, "u_") }}
	&nbsp;({{ rev.size }} bytes)
	{% if rev.revision != 1 %}
		{% if rev.sizediff > 0 %}
			<span style="color:#0f0">(+{{ rev.sizediff }})</span>
		{% elseif rev.sizediff < 0 %}
			<span style="color:#f00">({{ rev.sizediff }})</span>
		{% else %}
			<span style="color:#aaa">(0)</span>
		{% endif %}
	{% endif %}
	{% if rev.description %} <em>({{ rev.description }})</em>{% endif %}
</li>
{% if latest_rev == -1 %}{% set latest_rev = rev.revision %}{% endif %}
{% endfor %}
</ul>

{{ wikilinks(pagetitle_slugified, "viewhistory") }}
	{% endblock %}